body{
    padding: 0;
    margin: 0;
    background-color: #000;
}
.box{
    width: 512px;
    height: 512px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.box img.mask1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image:url(../img/youtube1.png);
    -webkit-mask-size:100%;
    -webkit-mask-repeat:no-repeat;
}
.box img.mask2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image:url(../img/youtube1.png);
    -webkit-mask-size:100%;
    -webkit-mask-repeat:no-repeat;
    opacity: 0;
    transition: 5s;
}
.box:hover img.mask2{
    opacity: 1;
}